<?xml version="1.0"?>
<launch>

  <node name= "MirobotServer" pkg="mirobot" type="MirobotServer" respawn="false" output="screen" args="/dev/ttyUSB0">
    <param name="port"              type="string"               value="/dev/ttyUSB0"/>
  </node>
  
  <node name= "joint_state_node" pkg="kinematics" type="joint_states_node.py" respawn="true" output="screen" />
  
  <arg name="hw_interface" default="hardware_interface/PositionJointInterface"/>
    <arg name="control_rate" default="500" />
  <param name="robot_description"
        command="$(find xacro)/xacro '$(find mirobot_mujoco_ros)/assets/mirobot_model.urdf.xacro'
        hw_interface:=$(arg hw_interface)" />
  <node name= "forward_kinematics_node" pkg="kinematics" type="mirobot_forward_kinematics_node.py" respawn="true" output="screen" />
  
  <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py" args="/dev/ttyACM0">
    <param name="port"              type="string"               value="/dev/ttyACM0"/>
    <param name="baud"              type="int"                  value="57600"/>
  </node>
  
</launch>
